<main class="container py-5">

  <app-navbar />

  <!-- Career Section -->
  <section class="career-section py-5">

    <header class="text-center mb-5">

      <span class="section-badge">
        {{ "career.badge" | translate }}
      </span>

      <h1 class="career-title mt-3">
        {{ "career.title" | translate }}
      </h1>

      <p class="career-description mx-auto">
        {{ "career.subtitle" | translate }}
      </p>

    </header>

    <main class="career-grid">
      <!-- Experience Card -->
       <app-career-card [experience]="mlgExperience" />
       <app-career-card [experience]="academic" />
    </main>

  </section>

</main>